@import "./normalize.css";

:root {
  --color-text: #303133;
  --color-high-text: #FF6347;
  --color-tint: #ff8198;
  --color-background: #FFFFFF;
  --color-border: #E1E1E1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select:text; /* none 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.title {
  padding-left: 10px;
  margin-bottom:20px ;
  border-left: 5px solid red;
}

::-webkit-scrollbar{
display: none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
/* ::-webkit-scrollbar  
{  
    width: 8px;  
    height: 110px;  
    background-color: #F5F5F5;  
}   */
/*定义滚动条轨道 内阴影+圆角*/  
/* ::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}     */
/*定义滑块 内阴影+圆角*/  
/* ::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #bdbdbd;  
}   */
/*滑块效果*/
/* ::-webkit-scrollbar-thumb:hover
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.4);
} */